<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">
  
  <targets>
    <target xsi:type="File"
      name="File"
      layout="[${longdate}] [${level}] [${logger}]: ${message} ${onexception:- ${exception:format=ToString}}"
      fileName="logs/${level}.log"/>

    <target xsi:type="ColoredConsole"
      name="Console"
      layout="[${longdate}] [${level}] [${logger}]: ${message} ${onexception:- ${exception:format=ToString}}"
      useDefaultRowHighlightingRules="true"/>
  </targets>

  <rules>
    <logger name="*" writeTo="Console" minlevel="Info"/>
    <logger name="*" writeTo="File" minlevel="Debug"/>
  </rules>
</nlog>